<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootmybatis.mapper.RoleDao" >
    <resultMap id="BaseResultMap" type="com.example.springbootmybatis.pojo.Role" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="is_assign" property="isAssign" jdbcType="CHAR" />
        <result column="is_deleted" property="isDeleted" jdbcType="CHAR"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="VARCHAR" />
        <result column="creator" property="creator" jdbcType="BIGINT" />
        <result column="gmt_modified" property="gmtModified" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,is_assign,is_deleted,gmt_created,creator,gmt_modified,modifier
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
        select
        <include refid="Base_Column_List" />
            from t_menu_role
    </select>

    <select id="getOne" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
            from t_menu_role
            where id = #{id}
    </select>

    <select id="getRoleByCondition" resultMap="BaseResultMap" parameterType="com.example.springbootmybatis.pojo.Role" >
        select
        <include refid="Base_Column_List" />
            from t_menu_role
            <where>
                <include refid="sql_condition"></include>
            </where>
    </select>

    <sql id="sql_condition" >
        <!--模糊查询-->
        <if test="name != null">
            name like CONCAT('%',#{name},'%')
        </if>
        <if test="isAssign != null">
            AND is_assign = #{isAssign}
        </if>
        <if test="isDeleted != null">
            AND is_deleted = #{isDeleted}
        </if>
        <if test="gmtCreated != null">
            AND DATE_FORMAT(gmt_created,'%Y-%m-%d') = #{gmtCreated}
        </if>
    </sql>

    <insert id="insert" parameterType="com.example.springbootmybatis.pojo.Role" >
        insert into t_menu_role (name,is_assign,is_deleted,gmt_created,creator,gmt_modified,modifier)
            values (#{name}, #{isAssign}, #{isDeleted}, now(), #{creator}, now(), #{modifier})
    </insert>

</mapper>

