<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootmybatis.mapper.UserDao" >
    <resultMap id="BaseResultMap" type="com.example.springbootmybatis.pojo.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="role_id" property="roleId" jdbcType="BIGINT" />
        <result column="is_deleted" property="isDeleted" jdbcType="CHAR"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
        <result column="creator" property="creator" jdbcType="BIGINT" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier" jdbcType="BIGINT" />
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap"  >
        select id,user_id,role_id,is_deleted,gmt_created,creator,gmt_modified,modifier from t_user_menu_role
    </select>

</mapper>

