<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chinaunicom.person.mapper.GuestInfoMapper">
    <resultMap id="GuestInfoMap" type="cn.chinaunicom.person.entity.GuestInfoEntity" >
            <result property="id" column="id"/>
            <result property="applyId" column="apply_id"/>
            <result property="guestName" column="guest_name"/>
            <result property="guestIdcard" column="guest_idcard"/>
            <result property="guestIdtype" column="guest_idtype"/>
            <result property="guestGender" column="guest_gender"/>
            <result property="guestMobile" column="guest_mobile"/>
            <result property="guestQrcode" column="guest_qrcode"/>
            <result property="guestBirthday" column="guest_birthday"/>
            <result property="guestPhotoUrl" column="guest_photo_url"/>
            <result property="guestSeqname" column="guest_seqname"/>
            <result property="guestSeqid" column="guest_seqid"/>
            <result property="guestRemarkt" column="guest_remarkt"/>
            <result property="intervieweeName" column="interviewee_name"/>
            <result property="intervieweeCode" column="interviewee_code"/>
            <result property="intervieweeMobile" column="interviewee_mobile"/>
            <result property="guestStartTime" column="guest_startTime"/>
            <result property="guestEndTime" column="guest_endTime"/>
            <result property="createUser" column="create_user"/>
            <result property="createTime" column="create_time"/>
            <result property="modifiedUser" column="modified_user"/>
            <result property="modifiedTime" column="modified_time"/>
    </resultMap>

    <select id="queryTodayGuestCount" resultType="java.lang.Integer">
        select count(*) from guest_info where create_time >= #{startDate} and create_time &lt;= #{endDate}
    </select>

    <select id="guestCount" resultType="com.alibaba.fastjson.JSONObject">
        select DATE_FORMAT(create_time,'%Y-%m-%d') as dateStr, count(*) as num from guest_info
            where create_time >= #{startDate} and create_time &lt;= #{endDate}
            group by DATE_FORMAT(create_time,'%Y-%m-%d') order by create_time
    </select>
</mapper>
